nav {
  right: 0;
  position: absolute;
  min-height: 8vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
  transition: 0.35s all ease;
}

.slideUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform 0.5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

.logo {
  margin: 2vh 0 0 2vh;
}

.nav-links {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  width: 100%;
  flex-wrap: wrap;
}

.nav-links > li {
  list-style: none;
  width: calc(80% / 3);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (min-width: 980px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 60px;
  }

  header + section {
    width: 100%;
    height: 80vh;
    padding-top: 15%;
  }

  a.compose {
    display: none;
  }

  .desc p span {
    display: none;
  }
}

@media screen and (max-width: 979px) {
  section#propos > article {
    width: 100%;
  }
  h4 {
    width: 180px;
    margin: 10% auto;
    text-align: center;
  }
  section#book > section > figure {
    min-width: 320px;
  }
  figure figcaption {
    color: white;
    background: rgba(188, 231, 217, 0.6);
  }
  /* pour demain */

  p {
    margin: 0 auto 10%;
    width: 100%;
  }

  section#pro > h3,
  section#book > h3 {
    color: black;
    text-align: center;
    font-size: 30px;
  }

  section#technique > h3 {
    text-align: center;
    color: gainsboro;
    font-size: 30px;
  }

  progress {
    color: white;
    margin: 18px;
    width: 80%;
  }

  section#technique > section > article > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desc p span {
    display: block;
  }
  .desc p {
    text-align: center;
    font-size: 20px;
  }

  article > header > h2 {
    margin-top: 10px;
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
  }

  article > header > h3 {
    font-size: 15px;
    color: gray;
    text-align: center;
  }

  article > header > h4 {
    background: orangered;
    width: 175px;
    min-height: 70px;
    position: relative;
    top: -125px;
    left: -50px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    margin: 0;
    z-index: 3;
  }

  article > hgroup {
    display: none;
  }

  /* fin */
  section#propos > figure {
    display: none;
  }

  a.compose {
    display: block;
    background: rgba(0, 0, 0, 0.699);
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    z-index: 100;
  }

  .title-animation{
      display: none;
  }

  a#mouse > span {
    visibility: hidden;
  }

  #bgvideo {
    display: none;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 25px;
  }

  nav {
    top: 0;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 91vh;
    top: 9vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-active {
    transform: translateX(0%);
  }

  body {
    overflow-x: hidden;
    background: black;
  }

  .burger {
    display: block;
    height: 4vh;
    width: 7vw;
    position: relative;
    top: 2vh;
    left: calc(95% - 38vw);
    cursor: pointer;
  }

  .burger span {
    cursor: pointer;
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    transform: translateY(5px);
  }

  .burger span::before,
  .burger span::after {
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    background: white;
    transition: transform 0.5s;
  }

  .burger span::before {
    transform: translateY(-5px);
  }

  .burger span::after {
    transform: translateY(5px);
  }

  /* premier span */
  .burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
  }

  /* le 2 nde */
  .burger.active span {
    background: transparent;
  }

  /* et le dernier */
  .burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
  }
}
